<template>
  <div id="app">
    <el-row :gutter="10">
      <el-col :span="8" v-for="url in urls" :key="url.id">
        <el-image :src="url" fit="cover"></el-image>
      </el-col>
    </el-row>
    <br>
    <br>
    <div class="block">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page.sync="currentPage"
        :page-size="3"
        layout="prev, pager, next, jumper"
        :total="60"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      currentPage: 1,
      urls: []
    };
  },
  methods: {
    handleCurrentChange(val) {
      console.log(`current page: ${val}`);
      this.urls = [
        `https://api.adorable.io/avatars/${(val-1)*3 + 1}`,
        `https://api.adorable.io/avatars/${(val-1)*3 + 2}`,
        `https://api.adorable.io/avatars/${(val-1)*3 + 3}`
      ]
    }
  },

  created() {
    this.urls = [
      'https://api.adorable.io/avatars/1',
      'https://api.adorable.io/avatars/2',
      'https://api.adorable.io/avatars/3'
    ]
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
